.h1 {
font-size: 45px;
font-weight: bold;
}
.subhed {
  text-transform: uppercase;
  border-bottom: 2px solid black;
}
.h2 {
  border-bottom: 2px solid black;
}
.h4 {
  padding: 8px 2px 8px 2px;
}
#id {
  padding: 8px 2px 8px 2px;
}
.container {
  max-width: 800px;
  overflow: auto;
  margin: 0 auto;
  background: dark gray;
  padding: 6px 4px 6px 4px;
}
.left-column{
  float: left;
  overflow: auto;
  box-sizing: border-box;
}
.right-column{
  float: left;
  box-sizing: border-box;
  overflow: auto;
  background-color: #f7f7f7;
}
